@import "tailwindcss";
* {
  font-family: "Public Sans", sans-serif;
  color: #e9e9e9;
}
.roboto {
  font-optical-sizing: auto;
}

.weather-app,
.forecast li,
.search input,
.search button,
.search-bar,
.search-bar li {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  overflow: hidden;
}
.search-bar {
  z-index: 1;
  cursor: pointer;
  backdrop-filter: blur(0);
  -webkit-backdrop-filter: blur(0);
  background: rgba(37, 74, 185, 0.754);
}
.search-bar li:hover {
  background: rgb(26, 66, 187);
}
.tilt-neon {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
}

.sixtyfour {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}

.forecast li {
  width: 9.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 10px -5px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 10px -5px rgba(66, 68, 90, 1);
}

.forecast ul::-webkit-scrollbar {
  margin: 4rem;
  scrollbar-width: thin;
  padding: 2rem;
  scroll-padding-block: 20rem;
  border: 5px solid rgb(37, 74, 185);
}

.forecast ul::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
  border: 5px solid rgb(53, 91, 206);
}

.forecast ul::-webkit-scrollbar-thumb {
  background-color: #4b5ca8;
  border-radius: 100px;
  order: 5px solid red;
}

.img-bgc {
  width: 100%;
  height: 100%;
}
.img-bgc img {
  width: 15rem;
  height: 15rem;
}

.search-bar {
  display: none;
}
.search-bar.active {
  display: block;
}
.fav-list li {
  cursor: pointer;
}
@media (max-width: 350px) {
  .weather-app {
    width: 20rem;
  }
}

@media (min-width: 833px) {
  .weather-app {
    width: 50rem;
  }
}

@media (min-width: 1024px) {
  .weather-app {
    width: 60rem;
  }
}

@media (min-width: 1500px) {
  .weather-app {
    width: 85rem;
    aspect-ratio: 1 / 0.4;
  }
}
